html {
	font-family: 'Roboto', sans-serif;
	background-color: #000000;
	color: #e8e6e3;
	height: 100%;
    display: flex;
	justify-content: center;
	align-items: center;
}

p{
	font-size: 4pc;
	text-align: center;
	text-shadow: 0 0 .2pc #FFFFFF;
}

a{
	text-shadow: 0 0 0 #000000;
}

html {
  /* The image used */
  background-image: url("../redirect.png");

  /* Full height */
  height: 100%;
  margin: 0;
  
  background-position: center bottom; /*Positioning*/
  background-repeat: no-repeat; /*Prevent showing multiple background images*/
  background-size: cover;
  
  /* Center and scale the image nicely */

}